<!DOCTYPE html>
<html>

<header>
    <title>Forum</title>

    <div class="logo">
      <a href="/">
        <img src="images/1.png" alt="Logo">
      </a>
    </div>
    <div class="navbar">
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
          {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
          <li><a href="{{ url_for('get_user') }}">Me</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}

      </ul>
    </nav>
    </div>
    <div class="search">
      <input type="text" placeholder="Search">
      <button type="submit">Search</button>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </header>
</html>